
.heading{
    color:antiquewhite;
    text-align:center;
    padding-bottom:50px;
    text-shadow:0 10px 20px black;
    font-size:15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifs;

}
.button{
    background:linear-gradient(198deg,blueviolet,rgb(253, 3, 3)) ; 
    border-radius: 10px;
    color: white;
    padding: 7px 10px;
    font-size: 10px;
    align-content:center;
    margin-bottom:10px;
    
}

.container{
    background:linear-gradient(45deg,rgb(8, 0, 15),rgb(241, 58, 2));
    padding:10%;
    padding-bottom:10px;
    
}
.box-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    vertical-align:sub;
    padding: 2px;
    justify-content: space-between;
   
} 
.box{
    align-items:center;
    box-shadow:0 5px 10px black;
    border-radius:5px;
    text-align:center;
    padding:30px 20px;
    background:white;
    box-sizing:border-box;
    
}

img{ 
    max-width:70%;
    max-height:70%;
    border-radius: 20px;
}
.pics{ 
    width: 50%;
    max-height: max-content;
    padding-left: 27%;
    margin-left: 4px;
    border-radius:50px;
    
 }
 .p{
    margin:auto;
    margin-bottom:10px;
    padding-bottom:5px;
 }
 
 